body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2e2f2a;
}
/* Header */
.site-header {
    background-image: url("../img/wp3873604.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    height: 390px;
}
.site-header .content {
    margin: 0 auto;
    width: 80%;
    position: relative;
}
.site-header .content h1 {
    margin: 0;
    font-size: 2.5em;
    color: #efff16;
    font-style: italic;
}
/* Main content and typography */
.site-header .content .slogan {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 10px;
}
.site-header .content h2 {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 20px;
}
/* Navigation */
.navigation-bar {
    background-color: #043105;
    justify-content: center;
    padding: 10px 0;
}
.navigation-bar .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
}
.navigation-bar .nav-links li {
    margin: 0 20px;
}
.navigation-bar .nav-links li a {
    color: #f1e9e9;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}
.navigation-bar .nav-links li a:hover {
    color: #ffe81f;
}
/* Article styling */
.lotr-article {
    color: #ccc;
    position: relative;
    max-width: 1200px;
    margin: auto;
    border-bottom: 2px solid #ccc;
    padding: 20px 0;
}
/* Image and text content styling */
.lotr-article .article-image {
    float: left;
    width: 30%;
    margin-right: 20px;
}
.lotr-article .article-text-content {
    font-size: 1.2rem;
    width: 75%;
}
/* Footer */
.site-footer {
    display: flex;
    justify-content: space-between;
    background-color: #043105;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.site-footer .footer-section {
    flex: 1;
    padding: 10px;
    text-align: left;
    border-top: 1px solid #444;
}
.site-footer .footer-section h4 {
    margin: 0 0 10px;
}
.site-footer .footer-section .links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.site-footer .footer-section .links li {
    padding: 5px 0;
}
.site-footer .footer-section .links li a {
    color: #f1e9e9;
    text-decoration: none;
}
.site-footer .footer-section .links li a:hover {
    text-decoration: underline;
}
/* media */
@media (max-width: 768px) {
    .lotr-article .article-image {
        width: 100%;
        float: none;
        margin-right: 0;
    }
    .lotr-article .article-text-content {
        width: 100%;
    }

    .site-footer {
        flex-direction: column;
        align-items: center;
    }
    .site-footer .footer-section {
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }

    .navigation-bar .nav-links {
        flex-direction: column;
    }
    .navigation-bar .nav-links li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
}
